*{
  margin:0;
  padding: 0;
}

.toolbar-header{
  padding:10px;
  border-bottom: 1px solid #666;
}

.logo{
  float: left;
}

.toolbar{
  float:right;
  line-height: 50px;
}

.toolbar ul{
  width: 200px;
}

.toolbar li{
  float: left;
  list-style-type: none;
  margin-left: 10px;
}

.toolbar a{
  border: 1px solid;
  padding: 8px;
  border-radius: 20px;
}

.toolbar a:hover{
  background: red;
  color: white;
}

.clearfix{
  float:none;
  clear:both;
}

